<%- include ('./partials/header.ejs'); -%>
<link rel="stylesheet" href="/stylesheets/indexPage.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Medium Crawler</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenus">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                <a class="nav-link active" href="/login">Login</a>
                <a class="nav-link active" href="/signup">Signup</a>
            </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <h4>Greetings Welcome to Medium Crawler</h4>
        <h5>Please Log In to check the crawling articles</h5>
        <button type="button" class="btn btn-sm btn-primary"><a href="/login" class="loginBtn">SIGN IN</a></button>
        <button type="button" class="btn btn-sm btn-primary"><a href="/signup" class="loginBtn">SIGN UP</a></button>
    </div>

