<%- include ('./partials/header.ejs'); -%>
<link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Medium Crawler</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenus">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                <a class="nav-link active" href="/login">Login</a>
                <a class="nav-link active" href="/signup">Signup</a>
            </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="login-credentials form-group ">
                <form method="POST" action="/login">
                    <div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Username</label>
                        <input type="text" class="form-control username" name="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group w-75">
                        <label class="col-form-label col-form-label-lg ">Password</label>
                        <input type="password" class="form-control password" name="password" placeholder="Enter Password">
                    </div>  
                    <br>              
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg loginBtn">Login</button>
                    </div>
                </form>    
                <hr>
                <div class="form-group">
                    <p>Don't have an account ?</p>
                    <button type="submit" class="btn btn-sm createAccount"><a href="/signup">Create New Account</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('./partials/footer.ejs'); -%>